<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../assets/images/favicon.ico"/>
    <meta name="description" content="Login or Register form of the wall assignment">
    <meta name="author" content="Jerwin A. Fernandez">
    <title>The Wall | Sign In/Up Page</title>

    <!-- CSS -->
    <link rel="stylesheet" href="../assets/css/index.css"/>
</head>
<body>
    <div id="sign_in_up_container">
        <div class="left_container">
            <div id="form_header">
                <img src="../assets/images/the_wall_icon.svg" alt="Messenger Icon">
                <h5>Welcome,</h5>
                <h6>Register a new account,</h6>
            </div>

            <!-- Sign In Form -->
            <form action="#" method="post" id="sign_in_form" class="hidden">
                <div class="form_group">
                    <label for="sign_in_email_input">Email</label>
                    <input type="email" id="sign_in_email_input">
                </div>
                <div class="form_group">
                    <label for="sign_in_password_input">Password</label>
                    <input type="password" id="sign_in_password_input">
                </div>

                <button type="submit" class="primary_button">Sign In</button>
                <p>Don't have an account?  <button type="button" class="normal_button" id="show_sign_up_button">Sign up</button></p>
            </form>

            <!-- Sign Up Form -->
            <form action="#" method="post" id="sign_up_form">
                <div class="form_group_container">
                    <div class="form_group">
                        <label for="first_name_input">First Name</label>
                        <input type="text" id="first_name_input">
                    </div>
                    <div class="form_group">
                        <label for="last_name_input">Last Name</label>
                        <input type="text" id="last_name_input">
                    </div>
                </div>
                <div class="form_group">
                    <label for="sign_up_email_input">Email</label>
                    <input type="email" id="sign_up_email_input">
                </div>
                <div class="form_group">
                    <label for="sign_up_password_input">Password</label>
                    <input type="password" id="sign_up_password_input">
                </div>
                <button type="submit" class="primary_button">Sign up</button>
                <p>Already have an account? <button type="button" class="normal_button" id="show_sign_in_button">Login</button></p>
            </form>

        </div>
        <div class="right_container">
            <img src="../assets/images/the_wall_big_logo.svg" alt="The Wall Icon">
        </div>
    </div>
 
    <!-- Scripts -->
    <script src="./../assets/js/index.js"></script>
    <script src="./../assets/js/global.js"></script>
</body>
</html>