@import url("variables.less");

body{
    background-color: #2C2D34;
    margin: 0px;

    .hidden{
        display: none !important;
    }

    .primary_button{
        background-color: @blue;
        border-radius: 9px;
        border: none;
        color: @white;
        font-family: "Roboto-Bold";
        font-size: 21px;
        line-height: 25px;
        outline: none;

        &:hover{
            background-color: #0050C8;
        }
    }

    .normal_button{
        background-color: transparent;
        border: none;
        outline: none;
        padding: 0px;
    }

    .error_input{
        border: 1px solid @red !important;
    }

    button{
        cursor: pointer;
    }

    input{
        padding: 0px 20px;

        &:focus{
            border: 1px solid @blue !important;
        }
    }
}