@import url("variables.less");
@import url("global.less");

body{
    #sign_in_up_container{
        background: #1D1F2B;
        border-radius: 20px;
        display: flex;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 876px;

        .left_container{
            flex: 1;
            padding: 75px 78px 75px 78px;
            #form_header{
                display: flex;
                flex-wrap: wrap;
                margin-bottom: 50px;
                padding-left: 77px;
                position: relative;
                img{
                    left: 0px;
                    position: absolute;
                    top: 0px;
                }

                h5{
                    color: @white;
                    font-family: 'Roboto-Regular';
                    font-size: 21px;
                    line-height: 25px;
                    margin: 0px 0px 4px 0px;
                    width: 100%;
                }

                h1{
                    color: #6D7186;
                    font-family: 'Roboto-Regular';
                    font-size: 17.5108px;
                    line-height: 21px;
                    margin: 0px 0px 0px 0px;
                    width: 100%;
                }
            }   

            form{
                .form_group{
                    display: flex;
                    flex-wrap: wrap;
                    margin-bottom: 18px;

                    label{
                        color: #6D7186;
                        font-family: 'Roboto-Medium';
                        font-size: 14px;
                        line-height: 16px;
                        margin-bottom: 9px;
                    }

                    input{
                        background: #31354F;
                        border-radius: 9px;
                        border: 1px solid transparent;
                        color: @white;
                        font-family: 'Roboto-Regular';
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        height: 56px;
                        line-height: 16px;
                        outline: none;
                        width: 100%;
                    }
                }

                .form_group_container{
                    display: flex;

                    .form_group{
                        flex: 1;

                        &:first-child{
                            margin-right: 7.5px;
                        }

                        &:last-child{
                            margin-left: 7.5px;
                        }
                    }

                }

                button[type="submit"]{
                    height: 60px;
                    margin-top: 13px;
                    width: 100%;
                }

                p{
                    color: #6D7186;
                    font-family: 'Roboto-Regular';
                    font-size: 17.5108px;
                    line-height: 21px;
                    margin: 37px auto 0px auto;
                    text-align: center;

                    button[type="button"]{
                        color: @blue;
                        font-family: 'Roboto-Regular';
                        font-size: 17.5108px;
                        line-height: 21px;
                    }
                }
            }
        }

        .right_container{
            background-color: #3B3C43;
            background-image: url("../images/right_panel_sign_up_in.svg");
            background-position: -39px -54px;
            background-repeat: no-repeat;
            border-radius: 0px 20px 20px 0px;
            position: relative;
            width: 205px;

            img{
                left: 51px;
                position: absolute;
                top: 75px;
            }
        }
    }
}
