@import url("variables.less");
@import url("global.less");

body{
    header{
        align-items: center;
        background: #1E1F25;
        display: flex;
        height: 62px;
        justify-content: space-between;
        padding: 0px 25px;

        >a{
            color: @white;
            display: flex;
            font-family: 'Roboto-Regular';
            font-size: 21px;
            line-height: 25px;
            text-decoration: none;

            span{
                background-image: url("../images/the_wall_small_logo.svg");
                display: flex;
                height: 28px;
                margin-right: 10px;
                width: 28px;
            }
        }

        div{
            display: flex;
            align-items: center;
            font-family: 'Roboto-Regular';
            font-size: 14px;
            line-height: 16px;
            color: @white;

            a{
                align-items: center;
                color: @white;
                display: flex;
                font-family: 'Roboto-Regular';
                font-size: 14px;
                line-height: 16px;
                margin-left: 26px;
                padding-left: 26px;
                position: relative;
                text-decoration: none;

                &:before{
                    background-color: #3A3C46;
                    content: "";
                    height: 62px;
                    left: 0px;
                    position: absolute;
                    top: -23px;
                    width: 1px;
                }

                span{
                    &.logout_icon{
                        background-image: url("../images/the_icon_sprite.svg");
                        background-position: 13px;
                        display: flex;
                        height: 13px;
                        margin-right: 9px;
                        width: 13px;
                    }
                }
            }
        }
    }

    main{
        margin: 49px auto;
        width: 978px;
    

        h4{
            color: @white;
            font-family: 'Roboto-Regular';
            font-size: 21px;
            line-height: 25px;
            margin-bottom: 0px;
            margin-top: 2px;
        }

        h1{
            color: #6D7186;
            font-family: 'Roboto-Regular';
            line-height: 21px;
            font-size: 17.5108px;
            margin-top: 7px;
            margin-bottom: 56px;
        }

        #create_message_form, .create_comment_form, .update_message_form{
            position: relative;
            &.update_message_form{
                margin-bottom: 20px;
            }

            textarea{
                background: #3A3C46;
                border-radius: 10px;
                border: 1px solid transparent;
                color: @white;
                font-family: 'Roboto-Regular';
                font-size: 17.5108px;
                height: 62px;
                line-height: 25px;
                outline: none;
                padding: 8px 18px;
                resize: none;
                width: ~"calc(100% - 37px)";

                &:focus{
                    border: 1px solid #00A3FF;
                }
            }

            button{
                position: absolute;                
                width: 100px;
                height: 38px;
                font-family: 'Roboto-Medium';
                font-size: 14px;
                right: 20px;
                top: 20px;
            }
        }


        #recent_forums_container{
            margin-top: 53px;

            h5{
                font-family: 'Roboto-Regular';
                font-size: 16px;
                line-height: 19px;
                color: @white;
                margin-bottom: 17px;
            }

            #no_post_yet{
                background: #2C2D34;
                border: 1px dashed #6D6E75;
                border-radius: 9px;
                font-family: 'Roboto-Regular';
                font-size: 16px;
                line-height: 19px;
                color: @white;
                height: 89px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            #messages_list{
                list-style: none;
                margin: 0px;
                padding: 0px;
                li{
                    background-color: #1E1F25;
                    padding: 22px 30px 30px 30px;
                    margin-bottom: 30px;
                    border-radius: 10px;

                    &:last-child{
                        margin-bottom: 0px;
                    }

                    &:hover{
                        >.item_footer{
                            .actions_container{
                                display: flex !important;
                            }
                        }
                    }

                    &.update_item{
                        .item_footer{
                            display: none;
                        }
                    }

                    p{
                        font-family: 'Roboto-Regular';
                        font-style: italic;
                        font-size: 16px;
                        line-height: 25px;
                        color: @white;
                        margin: 0px
                    }

                    .item_footer{
                        align-items: end;
                        display: flex;
                        height: 27px;
                        justify-content: space-between;
                        margin-bottom: 32px;

                        .author_details{
                            color: @purple;
                            font-family: 'Roboto-Regular';
                            font-size: 14px;
                            line-height: 16px;
                            span{
                                position: relative;

                                &:first-child{
                                    margin-right: 30px;

                                    &:after{
                                        background-color: #a3a3ff;
                                        content: "";
                                        height: 15px;
                                        position: absolute;
                                        right: -17px;
                                        top: 0px;
                                        width: 1px;
                                    }
                                }
                                &.responses{
                                    color: @purple;
                                    font-family: 'Roboto-Regular';
                                    font-size: 14px;
                                    line-height: 16px;
                                }
                            }
                        }

                        .actions_container{
                            display: none;

                            .edit_message_button, .edit_comment_button, .delete_message_button, .delete_comment_button{
                                align-items: center;
                                background: #32333C;
                                border-radius: 4px;  
                                border: 1px solid #606066;
                                display: flex;
                                height: 29px;
                                justify-content: center;
                                width: 29px;
                                
                                span{
                                    display: inline-block;
                                }

                                &:hover{
                                    background-color: @white;
                                }
                            }

                            .edit_message_button, .edit_comment_button{
                                .edit_icon{
                                    background-image: url("../images/the_wall_sprite_icon.svg");
                                    background-position: 0px 0px;
                                    background-repeat: no-repeat;
                                    height: 12px;
                                    width: 12px;
                                }
                            }

                            .delete_item_container{
                                align-items: center;
                                background: #32333C;
                                border-radius: 4px;  
                                display: flex;
                                justify-content: space-between;
                                margin-left: 6px;

                                .delete_message_button, .delete_comment_button{

                                    .delete_icon{
                                        background-image: url("../images/the_wall_sprite_icon.svg");
                                        background-position: -21px 0px;
                                        background-repeat: no-repeat;
                                        height: 12px;
                                        width: 12px; 
                                    }
                                }

                                &.show{
                                    border: 1px solid #606066;
                                    form{
                                        display: flex;
                                    }

                                    .delete_message_button, .delete_comment_button{
                                        border-bottom: none;
                                        border-left: none;
                                        border-radius: 4px 0px 0px 4px;
                                        border-top: none;
                                        height: 27px;
                                    }
                                }

                                .delete_message_form{
                                    display: none;
                                    padding: 5px 8px;

                                    span{
                                        color: @white;
                                        font-family: 'Roboto-Regular';
                                        font-size: 10px;
                                        line-height: 12px;
                                    }

                                    button{
                                        color: #6D7186;
                                        font-family: 'Roboto-Bold';
                                        font-size: 10px;
                                        line-height: 12px;
                                        margin-left: 8px;

                                        &[type="submit"]{
                                            color: @purple;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .create_comment_form{
                        margin-left: 15px;
                        textarea{
                            font-size: 16px;
                            line-height: 25px;
                        }
                    }

                    .comments_list{
                        list-style: none;
                        margin: 0px;
                        padding: 0px;
                        li{
                            border-bottom: 1px solid #3F404A;
                            padding: 25px 0px;
                            margin: 0px 0px 0px 16px;

                            &:last-child{
                                border: none;
                                padding-bottom: 0px;
                            }

                            .item_footer{
                                margin-bottom: 0px;
                            }
                        }
                    }
                }
            }
        }

    }

}


@media only screen and (max-width: 375px) {

    body{
        padding: 0px 26px;
        header{
            position: fixed;
            left: 0;
            top: 0;
            width: ~"calc(100% - 50px)";
            div{
                >span{
                    display: none;
                }
    
                a{

                    &:before{
                        left: -1px;
                    }
                    span{

                        &.logout_icon{
                            margin-right: 0px;
                        }
                        &:last-child{
                            display: none;
                        }
                    }
                }
            }
        }

        main{
            margin-top: 111px;
            width: 100%;


            #create_message_form, .create_comment_form, .update_message_form{
                textarea{
                    height: 156px;
                }
                button{
                    bottom: 20px;
                    top: auto;
                }
            }

            #recent_forums_container{
                #messages_list{
                    li{
                        p{
                            margin-bottom: 16px;
                        }
                        .item_footer{
                            .author_details{
                                display: flex;
                                flex-direction: column;

                                span{
                                    
                                    &:first-child{
                                        margin-bottom: 5px;
                                        &:after{
                                            display: none;
                                        }
                                    }
                                }
                            }
                        }
                        .create_comment_form{
                            margin-left: 0px;
                        }

                        .comments_list{
                            li{
                                p{
                                    margin-bottom: 0px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
}