/* Fonts */
@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto-Medium";
  src: url("../fonts/Roboto/Roboto-Medium.ttf");
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/Roboto/Roboto-Bold.ttf");
}
/* Colors */
body {
  background-color: #2C2D34;
  margin: 0px;
}
body .hidden {
  display: none !important;
}
body .primary_button {
  background-color: #00a3ff;
  border-radius: 9px;
  border: none;
  color: #ffffff;
  font-family: "Roboto-Bold";
  font-size: 21px;
  line-height: 25px;
  outline: none;
}
body .primary_button:hover {
  background-color: #0050C8;
}
body .normal_button {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0px;
}
body .error_input {
  border: 1px solid #eb5757 !important;
}
body button {
  cursor: pointer;
}
body input {
  padding: 0px 20px;
}
body input:focus {
  border: 1px solid #00a3ff !important;
}
body #sign_in_up_container {
  background: #1D1F2B;
  border-radius: 20px;
  display: flex;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 876px;
}
body #sign_in_up_container .left_container {
  flex: 1;
  padding: 75px 78px 75px 78px;
}
body #sign_in_up_container .left_container #form_header {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  padding-left: 77px;
  position: relative;
}
body #sign_in_up_container .left_container #form_header img {
  left: 0px;
  position: absolute;
  top: 0px;
}
body #sign_in_up_container .left_container #form_header h5 {
  color: #ffffff;
  font-family: 'Roboto-Regular';
  font-size: 21px;
  line-height: 25px;
  margin: 0px 0px 4px 0px;
  width: 100%;
}
body #sign_in_up_container .left_container #form_header h1 {
  color: #6D7186;
  font-family: 'Roboto-Regular';
  font-size: 17.5108px;
  line-height: 21px;
  margin: 0px 0px 0px 0px;
  width: 100%;
}
body #sign_in_up_container .left_container form .form_group {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 18px;
}
body #sign_in_up_container .left_container form .form_group label {
  color: #6D7186;
  font-family: 'Roboto-Medium';
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 9px;
}
body #sign_in_up_container .left_container form .form_group input {
  background: #31354F;
  border-radius: 9px;
  border: 1px solid transparent;
  color: #ffffff;
  font-family: 'Roboto-Regular';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: 56px;
  line-height: 16px;
  outline: none;
  width: 100%;
}
body #sign_in_up_container .left_container form .form_group_container {
  display: flex;
}
body #sign_in_up_container .left_container form .form_group_container .form_group {
  flex: 1;
}
body #sign_in_up_container .left_container form .form_group_container .form_group:first-child {
  margin-right: 7.5px;
}
body #sign_in_up_container .left_container form .form_group_container .form_group:last-child {
  margin-left: 7.5px;
}
body #sign_in_up_container .left_container form button[type="submit"] {
  height: 60px;
  margin-top: 13px;
  width: 100%;
}
body #sign_in_up_container .left_container form p {
  color: #6D7186;
  font-family: 'Roboto-Regular';
  font-size: 17.5108px;
  line-height: 21px;
  margin: 37px auto 0px auto;
  text-align: center;
}
body #sign_in_up_container .left_container form p button[type="button"] {
  color: #00a3ff;
  font-family: 'Roboto-Regular';
  font-size: 17.5108px;
  line-height: 21px;
}
body #sign_in_up_container .right_container {
  background-color: #3B3C43;
  background-image: url("../images/right_panel_sign_up_in.svg");
  background-position: -39px -54px;
  background-repeat: no-repeat;
  border-radius: 0px 20px 20px 0px;
  position: relative;
  width: 205px;
}
body #sign_in_up_container .right_container img {
  left: 51px;
  position: absolute;
  top: 75px;
}
